<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sales Records</title>
    <link th:href="@{/grades-stylesheet.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2> Sales Records </h2>
    <table id="table">

        <tr>
            <td>Item</td>
            <td>Revenue</td>
            <td>Cost</td>
            <td>Profit</td>
        </tr>
        <tr th:each="sale : ${sales}" th:style="${sale.profit>0} ? 'background:green' : 'background:red' ">
            <td th:text="${sale.item}"></td>
            <td th:text="${sale.revenue}"></td>
            <td th:text="${sale.cost}"></td>
            <td th:text="${sale.profit}" ></td>
        </tr>
    </table>
</div>
</body>
</html>